.applymain{
    background-image: url(../assets/jobsupper.jpeg);
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.applymain h1{
    max-width: 1200px;
    font-family: 'Raleway';
    /* padding-top: 10%; */
    font-weight: 800;
    /* line-height: 1.1; */
    font-size: 55px ;
    letter-spacing: 0px;
    /* line-height: 90vh; */
    color: #fff;
    z-index: 4;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    text-align: center;
    position: absolute;
    top: 25%;
    /* line-height: 80vh; */
}
.applydata{
    height: auto !important;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    clear: both;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    min-height: 1900px;
}
.applyupperheading{
    font-size: 45px;
    font-family: 'inherit';
    font-weight: 100;
    color: #333333;
}
.applyinnermain{
    margin-bottom: 1.3em;
}
.applyinnerleft{
    float: left;
    width: 55%;
    padding-right: 15px;
    padding-bottom: 32px;
}
.applyinnerleftupper{

}
.applyinnerleftupper p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
}
.applyinnerleftupper ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
.summaryapply{
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    font-size: 20px !important;
}
.applyinnerleftupper ul li{
    font-size: 22px;
}
.applyinnerleftupper{
    font-size: 22px;
}
.applybspan{
    font-size: 22px;
}
.applylspan{
    font-size: 22px;
}
.applyinnerright{
    float: left;
    width: 42%;
    padding-left: 15px;
}
.applyinnerrightinner{
    background: #deeff4a1;
    border: 1px solid #dddfe3;
    padding: 35px;
    box-sizing: border-box;
}
.applyinnerrightinner h2{
    font-family: 'Raleway';
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0px;
    color: #333333;
    font-size: 2rem;
    margin: 0 0 30px;
}
.applyforum{

}
.applyname{
    margin-bottom: 20px;
}
.applyname label{
    font-size: 20px;
}
.starc{
    color: red;
}
.applyinnerinput{
    height: 29px;
    display: block;
    /* padding-top: 0; */
    /* padding-bottom: 0; */
    border: 1px solid #d2d2d2;
    border-color: #d2d2d2;
    color: #aaa9a9;
    background-color: #ffffff;
    font-size: 13px;
    width: 100%;
    margin-top: 15px;
}
.aptarea{
    height: 100px;
}
.applyfile{
    display: block;
    width: 100%;
    vertical-align: middle;
    color: #000;
    margin-top: 15px;
    font-size: 20px;
}
.agreeinput{
    margin-bottom: 20px;
}
.checkbox{
    margin-right: 5px;
}
.agreelable{
    font-size: 20px;
}
.applysubmitin{
    text-align: left;
    margin-top: 20px;
}
.applysubmitbtn{
    padding: 20px 30px;
     background-color: #e99c35;
     color: white;
     border: 1px solid;
     font-weight: bold;
     cursor: pointer;
     letter-spacing: 2px;
     font-size: 20px;
     text-transform: uppercase;
}



@media(max-width:990px) {
    .applyupperheading{
        font-size: 30px;
    }
    .applymain h1{
        font-size: 30px;
    }
    .applyinnerleft{
        width: 100%;
        clear: left;
        display: block;
    }
    .applyinnerright{
        width: 100%;
        clear: left;
        display: block;
        padding-left: 0px;
    }
    .applydata{
        min-height: 8000px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}